.top-banner {
    background-color: #adb5bd;
    opacity: 0.6;
}


.navbar-nav li {
    background-clip: content-box;
}

.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -10px;
    }

.dropdown-menu {
    margin: 0;
}

.add-detail {
    right: 50%;
    top: 14rem;
    position: absolute;
    z-index: 1;
    color:red;
}

.agent-detail {
    right: 8em;
    top: 15em;
    position: absolute;
    z-index: 1;
    color: red;
}

.reading-detail {
    right: 75%;
    bottom: 37%;
    position: absolute;
    z-index: 1;
    color: red;
}

.tariff-detail {
    right: 75%;
    bottom: 25%;
    position: absolute;
    z-index: 1;
    color: red;
}

.billing-detail {
    right: 25%;
    bottom: 35%;
    position: absolute;
    z-index: 1;
    color: red;
}

.amount-history {
    right: 25%;
    bottom: 15%;
    position: absolute;
    z-index: 1;
    color: red;
}

/* Set the size of the div element that contains the map */
#map {
    height: 400px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
}